.details{
  margin: 0 auto;
  text-align: center; 
  max-width: 500px;
  // max-height: 640px; 
  height: 100vh;
  background-color: white; 
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: darkslategray;
    max-width: 500px;
    max-height: 640px;
}

.PlaceInfo {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;  
    margin: 0 auto;
    max-width: 500px;
    max-height: 823px;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 500px;
    max-height: 640px;
    }

.part {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    background-color: tomato;
    color: white; 
    border: none;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;  
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px; 
    margin-top: 20px; 
    
  }
      
  .twoparts {
    display: flex; 
    margin-right: 10px; 
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
  }

  .detail-nav {
    display: flex;
    justify-content: space-between;
  }
  .map-name {
    display: flex;
    justify-content: center;
  }

  .Picture {
        font-family: "Quicksand", sans-serif;
        font-weight: 400;
        width: 500px;
        height: 300px;
        border-radius: 5px;
        object-fit: cover;
        object-position: center;
        box-shadow: 3px 3px 3px #00000048;
        border: 2px solid #fff;
        padding: 0;
        transition: 0.6s ease-in-out;
        }
      
   
      
        .PlaceInfoTab {
            max-width: 500px;
            height: 70px;
            box-shadow: 0px -10px 20px #00000023;
            border-radius: 40px 40px 0px 0px;
            animation: 0.5s ease-in 0s 1 slide-up;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 62%;
            padding: 0 20px;
            box-shadow: 0px -10px 20px #00000023;
            border-radius: 40px 40px 0px 0px;
            background-color: #ffffff;
            position: sticky;
            bottom: 0;
            left: 0;
            margin: 0 auto;
            transition: opacity 0.5s, margin-top 2s, margin-bottom 2s;
            overflow: scroll;
        }
      
    
      
        .Favorite {
          font-size: 1.9rem;
          color: #d1d1cc;
          transition: 0.6s ease-in-out;
        }
      
        .FavoriteActive {
          font-size: 1.9rem;
          color: #ff3f4f;
          filter: drop-shadow(0px 0px 10px #ff3f4fbd);
          transition: 0.6s ease-in-out;
          outline: none;
        }
      
    
    
    