@import url("https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Pacifico&display=swap");

nav {
  max-width: 500px;
  margin: 0 auto;
  height: 70px;
  background-color: white;
  border-radius: 40px 40px 0px 0px;
  box-shadow: 0px -10px 20px #00000023;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Lobster Two", cursive;
  color: darkslategray;
  text-decoration: none;
  /* z-index: 9999; */
  /* text-align: center;   */
}

nav .whiteButton {
  background-color: white;
  color: darkslategray;
  border: 1px solid darkslategray;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  border-radius: 10px;
  margin-left: 5px;
}

nav .otherButton {
  background-color: tomato;
  color: white;
  border: none;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  border-radius: 10px;
}

.twoButtons {
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
}

.suncatcher {
  margin-left: 20px;
  color: darkslategray;
}

nav .iconButton {
  margin-right: 10px;
  margin-top: 7px;
}

/* .part {
  background-color: tomato;
  color: white; 
  border: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;  
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px; 
  margin-top: 20px; 
}
.twoparts {
  display: flex; 
  margin-right: 10px; 
}

#icon {
  background-color: white; 
}
#welcome{
  margin-right: 135px; 
  margin-top: 27px;
  font-family: "Quicksand", sans-serif;
  color: darkslategray; 
  font-weight: 400; 
}
#suncatcher { 
  margin-right: 230px; */
/* font-family: "Lily Script One", cursive;  */
/* font-family: 'Niconne', cursive;  */
/* font-family: 'Allura', cursive; */
/* font-family: 'Pacifico', cursive; */
/* 
} */

/* #logout {
  color: darkslategrey; 
  border: 1px solid darkslategrey; 
  background-color: white; 
} */
