@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Pacifico&display=swap');


nav {
  /* text-align: center;   */
  display: flex;
  justify-content: flex-end;
  max-width: 500px;
  height: 70px;
  box-shadow: 0px -10px 20px #00000023;
  border-radius: 40px 40px 0px 0px;
  background-color: white;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9999; 
}; 

button {
  background-color: tomato;
  color: white; 
  border: none; 
  padding: 10px; 
  font-family: "Quicksand", sans-serif;
  font-weight: 400;  
  border-radius: 10px;
}

.part {
  background-color: tomato;
  color: white; 
  border: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;  
  padding: 10px;
  border-radius: 10px;
  margin-right: 10px; 
  margin-top: 20px; 
}
.twoparts {
  display: flex; 
  margin-right: 10px; 
}
#login {
  background-color: white; 
  color: darkslategray; 
  border: 1px solid darkslategray; 
}
#icon {
  background-color: white; 
}
#welcome{
  margin-right: 135px; 
  margin-top: 27px;
  font-family: "Quicksand", sans-serif;
  color: darkslategray; 
  font-weight: 400; 
}
#suncatcher { 
  margin-right: 230px;
  /* font-family: "Lily Script One", cursive;  */
  /* font-family: 'Niconne', cursive;  */
  /* font-family: 'Allura', cursive; */
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Lobster Two', cursive;
  color: darkslategray;
}

/* #logout {
  color: white; 
  background-color: white; 
} */
